# [L] = Last
#ça veux dire que si la règle est appliqué, aucune autre règle ne le sera a ce moment là

<IfModule mod_rewrite.c>
    RewriteEngine On

    #Check si le fichier existe sur le server
    RewriteCond %{REQUEST_FILENAME} !-f
    #Check la condition au dessus (le fichier n'existe pas), rediriger ver index.php
    RewriteRule ^ index.php [QSA,L]
    #Redirige les requête d'accès au root (^$) vers le dir. public
    RewriteRule ^$ public/ [L]
    #Redigire toutes les autres requêtes vers le dir. public, en gardant le path après le domaine
    RewriteRule (.*) public/$1 [L]
</IfModule>