<IfModule mod_rewrite.c>
    #Empêche Apache de rediriger automatiquement vers un fichier avec un nom similaire
	Options -Multiviews
	RewriteEngine On
	#Applique les règles suivantes uniquement dans cet URL (base URL)
	RewriteBase /checkride/public
    #Check si le DOSSIER demandé existe sur le server
	RewriteCond %{REQUEST_FILENAME} !-d
    #Check si le FICHIER demandé existe sur le server
	RewriteCond %{REQUEST_FILENAME} !-f
	#Redirige toutes les requêtes pour des fichiers/dossiers qui n'existe pas vers index.php,
	#en utilistant les paramètres utilisé en tant que paramètre de quesry
	#[QSA] = Query String Append
	RewriteRule	 ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>