<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CheckRide</title>
        <link rel="stylesheet" href="styles/stylenewaccount.css">
        <link rel="shortcut icon" href="../../../public/img/faviconmoto.png" type="image/png">
    </head>
</head>
<body>
    <form>

            <legend class="legend">Inscription</legend>
            <label class="label1">Firstname</label><input class="input1" type="text" placeholder="Your firstname"/><br>
            <label class="label1">Lastname</label><input class="input1" type="text" placeholder="Your lastname"/><br>
            <label class="label1">Phone number</label><input class="input1" type="number" placeholder="Your phone number"/><br>
            <label class="label1">Email</label><input class="input1" type="email" placeholder="Your email"/><br>
            <input class="input1" type="submit" value="valider"/>

    </form>
</body>
</html>