body {
    padding-top: 30px;
    background-image: url("../img/fondsite2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    overflow: auto;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}
nav {
    position: relative;
    width: 300px;
    height: 50px;
    background: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    transition: .5s;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3B7EC9;
    border-radius: 8px;
    transition: .5s;
    z-index: 0;
}

nav a:nth-child(1):hover ~ span {
    width: 105px;
    left: 0;
}

nav a:nth-child(2):hover ~ span {
    width: 75px;
    left: 105px;
}

nav a:nth-child(3):hover ~ span {
    width: 120px;
    left: 180px;
}

table {
    color: black;
}

.table-responsive {
    max-height: 80vh;
}

th, td {
    background-color: white;
    padding: 10px;
}

thead, th, .blue {
    background-color: #132B40;
    color: white;
}

/* Style pour les lignes paires */
tr:nth-child(even) td {
    background-color: white;
}

/* Style pour les lignes impaires */
tr:nth-child(odd) td {
    background-color: white;
}

.file-upload {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 30px;
    border-radius: 8px;
}

.file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.preview_img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

/*Formulaire*/
#contacts {
    padding: 40px;
    overflow: auto;
}
.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact form .btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact .section__tittle {
    color: #000;
    margin-bottom: 10px;
}

::placeholder {
    color: #F1F2FF;
}

.table-responsive-home {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-modal .modal-content {
    background-color: #132B40;
    color: white;
}
.custom-modal .form-control {
    background-color: #132B40;
    color: white;
}
