body {
    background: url("../img/fondsite2.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

@media (max-width: 991px){
    .sidebar{
        background-color: #132B40 ;
        backdrop-filter: blur(10px);
    }
}
table {
    color: black;
}

.table-responsive {
    max-height: 80vh;
}

th, td {
    background-color: white;
    padding: 10px;
}

thead, th, .blue {
    background-color: #132B40;
    color: white;
}

/* Style pour les lignes paires */
tr:nth-child(even) td {
    background-color: white;
}

/* Style pour les lignes impaires */
tr:nth-child(odd) td {
    background-color: white;
}

.file-upload {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 30px;
    border-radius: 8px;
}

.file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.preview_img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

/*Formulaire*/
#contacts {
    padding: 40px;
    overflow: auto;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact form .btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.contact .section__tittle {
    color: #000;
    margin-bottom: 10px;
}

::placeholder {
    color: #F1F2FF;
}

.custom-modal .modal-content {
    background-color: #132B40;
    color: white;
}

.custom-modal .form-control {
    background-color: #132B40;
    color: white;
}

.container {
    padding: 1rem 2rem;
}